<!DOCTYPE html>
%html
  %head
    %title== Pivot Pong - #{location}
    = stylesheet_link_tag 'reset', 'pong', 'jquery.autocomplete'
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery.autocomplete'
    = javascript_include_tag "http://use.typekit.com/rol0dzy.js"
    = javascript_tag "try{Typekit.load();}catch(e){}"
    = favicon_link_tag "favicon.ico"
    = csrf_meta_tag

  %body
    #page
      #content
        %h1== Area 17 Pong #{location.downcase}
        = yield
        = link_to "source code", "https://github.com/jonathanpberger/pivot-pong", class: "source"
